<!DOCTYPE html>
<html>

<head>
  <% include partials/header.ejs %>
</head>

<body>
  <div ng-app="crypto" ng-controller="me" ng-init="init()">
    <h1>Fuck you Edwin!</h1>
    <!-- codee -->
  </div>
  <% include partials/footer.ejs %>
</body>
<script type="text/javascript">
  
</script>
</html>